#### 실패했던 퀴즈 풀이

In [1]:
성적리스트 = [('싸이', {'국어': 62, '수학': 47, '영어': 86}),
 ('GD', {'국어': 83, '수학': 85, '영어': 64}),
 ('유희열', {'국어': 100, '수학': 78, '영어': 96}),
 ('아이유', {'국어': 52, '수학': 87, '영어': 61}),
 ('윤도현', {'국어': 76, '수학': 74, '영어': 68}),
 ('이효리', {'국어': 88, '수학': 98, '영어': 78}),
 ('이승환', {'국어': 73, '수학': 58, '영어': 67}),
 ('제이슨 므라즈', {'국어': 43, '수학': 35, '영어': 55}),
 ('마크툽', {'국어': 98, '수학': 33, '영어': 95}),
 ('박명호', {'국어': 50, '수학': 94, '영어': 86}),
 ('박진영', {'국어': 59, '수학': 52, '영어': 81}),
 ('루시드폴', {'국어': 79, '수학': 42, '영어': 35}),
 ('노을', {'국어': 50, '수학': 51, '영어': 64}),
 ('넥스트', {'국어': 31, '수학': 46, '영어': 75})]

In [2]:
for person in 성적리스트: 
    # person[0] = 이름
    # person[1] = 성적
    total = person[1]['국어'] + person[1]['수학'] + person[1]['영어']
    average = total / 3
    person[1]['총점'] = total
    person[1]['평균'] = average

In [3]:
   성적리스트

[('싸이', {'국어': 62, '수학': 47, '영어': 86, '총점': 195, '평균': 65.0}),
 ('GD', {'국어': 83, '수학': 85, '영어': 64, '총점': 232, '평균': 77.33333333333333}),
 ('유희열', {'국어': 100, '수학': 78, '영어': 96, '총점': 274, '평균': 91.33333333333333}),
 ('아이유', {'국어': 52, '수학': 87, '영어': 61, '총점': 200, '평균': 66.66666666666667}),
 ('윤도현', {'국어': 76, '수학': 74, '영어': 68, '총점': 218, '평균': 72.66666666666667}),
 ('이효리', {'국어': 88, '수학': 98, '영어': 78, '총점': 264, '평균': 88.0}),
 ('이승환', {'국어': 73, '수학': 58, '영어': 67, '총점': 198, '평균': 66.0}),
 ('제이슨 므라즈',
  {'국어': 43, '수학': 35, '영어': 55, '총점': 133, '평균': 44.333333333333336}),
 ('마크툽', {'국어': 98, '수학': 33, '영어': 95, '총점': 226, '평균': 75.33333333333333}),
 ('박명호', {'국어': 50, '수학': 94, '영어': 86, '총점': 230, '평균': 76.66666666666667}),
 ('박진영', {'국어': 59, '수학': 52, '영어': 81, '총점': 192, '평균': 64.0}),
 ('루시드폴', {'국어': 79, '수학': 42, '영어': 35, '총점': 156, '평균': 52.0}),
 ('노을', {'국어': 50, '수학': 51, '영어': 64, '총점': 165, '평균': 55.0}),
 ('넥스트', {'국어': 31, '수학': 46, '영어': 75, '총점': 152, '평균': 50.666666666666664})]

In [5]:
def filter_fn(person):
    return person[1]['평균'] > 70

def sort_fn(person):
    return person[1]['평균']

결과리스트 = sorted(filter(filter_fn, 성적리스트), key=sort_fn)

In [6]:
결과리스트

[('윤도현', {'국어': 76, '수학': 74, '영어': 68, '총점': 218, '평균': 72.66666666666667}),
 ('마크툽', {'국어': 98, '수학': 33, '영어': 95, '총점': 226, '평균': 75.33333333333333}),
 ('박명호', {'국어': 50, '수학': 94, '영어': 86, '총점': 230, '평균': 76.66666666666667}),
 ('GD', {'국어': 83, '수학': 85, '영어': 64, '총점': 232, '평균': 77.33333333333333}),
 ('이효리', {'국어': 88, '수학': 98, '영어': 78, '총점': 264, '평균': 88.0}),
 ('유희열', {'국어': 100, '수학': 78, '영어': 96, '총점': 274, '평균': 91.33333333333333})]

In [7]:
import json

json_string = json.dumps(결과리스트, ensure_ascii=False)
# ensure_ascii = False : UTF8 출력 (추천!)
# ensure_ascii = True (디폴트) : 유니코드 코드값으로 출력

with open("성적_결과리스트.json", "wt", encoding="utf8") as f:
    f.write(json_string)

In [8]:
with open("성적_결과리스트.json", "rt", encoding="utf8") as f:
    print(f.read()) # json_string 을 읽어서 출력

[["윤도현", {"국어": 76, "총점": 218, "평균": 72.66666666666667, "영어": 68, "수학": 74}], ["마크툽", {"국어": 98, "총점": 226, "평균": 75.33333333333333, "영어": 95, "수학": 33}], ["박명호", {"국어": 50, "총점": 230, "평균": 76.66666666666667, "영어": 86, "수학": 94}], ["GD", {"국어": 83, "총점": 232, "평균": 77.33333333333333, "영어": 64, "수학": 85}], ["이효리", {"국어": 88, "총점": 264, "평균": 88.0, "영어": 78, "수학": 98}], ["유희열", {"국어": 100, "총점": 274, "평균": 91.33333333333333, "영어": 96, "수학": 78}]]

In [1]:
import re

re.match(r"01[016-9][1-9]\d", '01011')

In [2]:
re.match(r"01[016-9][1-9]\d", '01012341234')

In [3]:
re.match(r"01[016-9][1-9]\d",'010-123401234')

In [4]:
import re

def validate_phone_number(number):
    if not re.match(r'^01[016789][1-9]\d{6,7}$', number):
        return False
    return True

print(validate_phone_number('01012341234'))
print(validate_phone_number('010123412'))
print(validate_phone_number('012341234a'))

True
False
False

In [5]:
import re

re.match(r'^\d{4}-\d{4}-\d{4}-\d{4}$', '1234-1234-1234-1234')

In [6]:
re.match(r'^90[01]\d[0123]\d-1\d{6}$','900618-1692244')

In [7]:
# 퀴즈 #3 : Hex color code를 모두 추출하는 정규 표현식

html = """
<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>RGB Colors</title>
    </head>
    <body>
        <h1>RGB Colors</h1>
        <ul>
            <li>Red : #FF0000</li>
            <li>Green : #00FF00</li>
            <li>Blue : #0000FF</li>
        </ul>
    </body>
</html>
"""

In [8]:
import re

re.findall(r'#[0-9a-fA-F]{6}', html)

['#FF0000', '#00FF00', '#0000FF']

In [10]:
# 무작위 선별, 로또 만들기

import random
number = []
for i in range(1,46):
    number.append(i)

random.shuffle(number)
print("lucky numbers are",number[:6],"bounus number is",number[7])

lucky numbers are [36, 34, 3, 23, 10, 22] bounus number is 16